// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
  text-decoration: none;
}

table{
  width: 380px;
}

tr{
  td{
    font-size: 30px;
    padding: 10px;
  }
}

.title{
  text-align: center;
}


form{
  width: 460px;
  input{
    display: inline;
    margin: 10px;
    height: 35px;
    width: 170px;
    font-size: 26px;
    border: 2px solid lightblue;
    border-radius: 4px;
  }
  button{
    margin-bottom: 15px !important;
  }
}
